<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body>
    <div id="login-box">
        <h1>Login</h1>
        <div class="form">
            <div class="item">
                <i class="fa fa-user" aria-hidden="true"></i>
                <input type="text" placeholder="Username" required>
            </div>
            <div class="item">
                <i class="fa fa-key" aria-hidden="true"></i>
                <input type="password" placeholder="Password" required>
            </div>
        </div>
        <button>Login</button>
    </div>
<iframe class="result_output" width="50%" height="500px" frameborder="0" name="view" src="/more"></iframe>
</body>
</html>